<head>
<title>Sistemas Operacionais 1996 - Aula 03</title>
</head>

<body>

<h1> 
Comunica&ccedil;&atilde;o Interprocessos
</h1>

<hr>

<h2>
Coopera&ccedil;&atilde;o e Opera&ccedil;&otilde;es At&ocirc;micas
</h2>

Processos se comunicam (isto &eacute;, cooperam) atrav&eacute;s do
compartilhamento de posi&ccedil;&otilde;es de
mem&oacute;ria.
Analogamente, <em> threads </em> compartilham
o mesmo espa&ccedil;o de endere&ccedil;amento,
ou seja, t&ecirc;m as mesmas vari&aacute;veis globais.
Quais problemas podem ocorrer quando dois ou mais
processos compartilham vari&aacute;veis?

<p>

Considere dois processos que compartilham as vari&aacute;veis
<b> A </b> e <b> B </b>.
Um est&aacute; executando <b> A = 1 </b> e o outro
est&aacute; executando <b> B = 2 </b>.
Qual ser&aacute; o resultado final?
Importa a ordem na qual os processos executam?

<p>
Agora considere:

<p>

<Table BORDER>
<TR>
<TH> Processo 1 </TH>
<TH> Processo 2 </TH>
</TR>
<TR>
<TD> A = B + 1 </TD>
<TD> B = 2 * B </TD>
</TR>
</Table>

<p>
Qual &eacute; o resultado final?

<p>

E no seguinte caso?

<p>
<Table BORDER>
<TR>
<TH> Processo 1 </TH>
<TH> Processo 2 </TH>
</TR>
<TR>
<TD> A = 1 </TD>
<TD> A = 2 </TD>
</TR>
</Table>

<p>
Qual &eacute; o resultado final?
O que aconteceria se existirem m&uacute;ltiplos
processadores?

<p>

Com o objetivo de colocar ordem nas intera&ccedil;&otilde;es
entre processos, &eacute; necess&aacute;rio
prover algumas abstra&ccedil;&otilde;es novas,
algumas garantias sobre o que acontece e quando.

<p>

<b> Opera&ccedil;&otilde;es At&ocirc;micas </b>
s&atilde;o opera&ccedil;&otilde;es que n&atilde;o
podem ser interrompidas.
N&atilde;o &eacute; poss&iacute;vel ver as "partes"
de uma opera&ccedil;&atilde;o at&ocirc;mica, mas
apenas seu efeito final.
Ou seja, n&atilde;o &eacute; poss&iacute;vel ver a
opera&ccedil;&atilde;o "em progresso".

<p>

<Table BORDER>
<TR>
<TH> Opera&ccedil;&otilde;es At&ocirc;micas </TH>
<TH> Opera&ccedil;&otilde;es N&atilde;o-At&ocirc;micas </TH>
</TR>
<TR>
<TD> tocar a campainha </TD>
<TD> encher um copo de &aacute;gua </TD>
</TR>
<TR>
<TD> desligar a luz </TD>
<TD> caminhar at&eacute; a porta </TD>
</TR>
</Table>

<p>
Nota: Opera&ccedil;&otilde;es at&ocirc;micas s&atilde;o
relevantes em outras &aacute;reas al&eacute;m de 
Sistemas Operacionais. Elas s&atilde;o a base para
<em> transa&ccedil;&otilde;es at&ocirc;micas </em>,
que por sua vez formam a base para uma &aacute;rea
denominada <em> Processamento de Transa&ccedil;&otilde;es;</em>
essa &aacute;rea trata de problemas de coordena&ccedil;&atilde;o
de acessos m&uacute;ltiplos e concorrentes a bancos de dados.
Bancos eletr&ocirc;nicos s&atilde;o uma das
aplica&ccedil;&otilde;es importantes da &aacute;rea.

<p>
Opera&ccedil;&otilde;es at&ocirc;micas devem ser bastante
confi&aacute;veis.
Em geral, o hardware prov&ecirc; algumas
opera&ccedil;&otilde;es at&ocirc;micas
(exemplo: instru&ccedil;&atilde;o <b> test-and-set </b>).
Se o hardware n&atilde;o fornecer instru&ccedil;&otilde;es
at&ocirc;micas, como &eacute; poss&iacute;vel
implementar comportamento at&ocirc;mico em um
uniprocessador? 
E em multiprocessadores?

<p>

Nosso objetivo &eacute; responder essas perguntas.
Veremos tamb&eacute;m como construir 
opera&ccedil;&otilde;es at&ocirc;micas
de alto n&iacute;vel a partir de opera&ccedil;&otilde;es
mais simples.

<p>

Antes de continuar, mais um exemplo do que o livro
chama de <em> race conditions </em> (Tanenbaum 2.2.1):

<p>

<Table BORDER>
<TR>
<TH> Processo A </TH>
<TH> Processo B </TH>
</TR>
<TR>
<TD> 
<pre> 

i = 0;
while (i < 10) {
   i++;
}
printf ("A ganhou");

</pre>
</TD>
<TD> 
<pre> 

i = 0;
while (i > -10) {
   i--;
}
printf ("B ganhou");

</pre>
</TD>
</TR>
</Table>


<ul>
<li>
a vari&aacute;vel <b> i </b> &eacute; compartilhada
<li>
atribui&ccedil;&atilde;o e refer&ecirc;ncia
a uma vari&aacute;vel s&atilde;o 
opera&ccedil;&otilde;es at&ocirc;micas
<li>
quem vai ganhar: processo A ou B?
<li>
pode-se garantir que eles v&atilde;o terminar?
<li>
se um terminar, o outro tamb&eacute;m vai terminar?
<li>
ajuda se um come&ccedil;ar bem na frente do outro?
</ul>

<!==========================================================================>

<h2>
Sincroniza&ccedil;&atilde;o 
</h2>

<b> Sincroniza&ccedil;&atilde;o </b>:
utiliza&ccedil;&atilde;o de opera&ccedil;&otilde;es at&ocirc;micas
para garantir o funcionamento <em> correto </em> de
processos cooperantes.

<p>

<Table BORDER>
<caption> <b> O Problema de Espa&ccedil;o na Geladeira </b> </caption>
<TR>
<TH> Hora </TH>
<TH> Pessoa A </TH>
<TH> Pessoa B </TH>
</TR>
<TR>
<TD> 6:00 </TD>
<TD> Olha a geladeira: sem leite </TD>
<TD ALIGN=CENTER> - </TD>
</TR>
<TR>
<TD> 6:05 </TD>
<TD> Sai para a padaria </TD>
<TD ALIGN=CENTER> - </TD>
</TR>
<TR>
<TD> 6:10 </TD>
<TD> Chega na padaria </TD>
<TD> Olha a geladeira: sem leite </TD>
</TR>
<TR>
<TD> 6:15 </TD>
<TD> Sai da padaria </TD>
<TD> Sai para a padaria </TD>
</TR>
<TR>
<TD> 6:20 </TD>
<TD> Chega em casa: guarda o leite </TD>
<TD> Chega na padaria </TD>
</TR>
<TR>
<TD> 6:25 </TD>
<TD ALIGN=CENTER> - </TD>
<TD> Sai da padaria </TD>
</TR>
<TR>
<TD> 6:30 </TD>
<TD ALIGN=CENTER> - </TD>
<TD> Chega em casa: Ah! N&atilde;o! </TD>
</TR>
</Table>

<p>

Qual &eacute; o significado de "correto" para este problema?
Um dos aspectos mais importantes em sincroniza&ccedil;&atilde;o
&eacute; determinar qual objetivo a ser atingido.
Duas possibilidades s&atilde;o:

<ul>
<li>
<b> Exclus&atilde;o M&uacute;tua </b>:
apenas uma pessoa (processo) pode fazer alguma
coisa em determinado momento (i.e., todos
os outros s&atilde;o exclu&iacute;dos).
Exemplo: apenas uma pessoa pode sair
para comprar leite em qualquer momento.
<li>
<b> Se&ccedil;&atilde;o Cr&iacute;tica </b>:
uma se&ccedil;&atilde;o de c&oacute;digo
(ou uma cole&ccedil;&atilde;o de opera&ccedil;&otilde;es)
na qual apenas um processo pode executar de cada vez.
O objetivo &eacute; tornar at&ocirc;mico o conjunto
de opera&ccedil;&otilde;es.
Exemplo: comprar leite.
</ul>

Existem v&aacute;rias maneiras de se conseguir
exclus&atilde;o m&uacute;tua. A maioria envolve
algum mecanismo de "trancamento" (<em>locking</em>):
evitar que algu&eacute;m fa&ccedil;a alguma coisa
em determinado momento. Por exemplo, deixar um
aviso na porta da geladeira.

<p>

Tr&ecirc;s regras devem ser satisfeitas para trancamento funcionar:

<p>

<Table BORDER>
<TR>
<TH> Regra </TH>
<TH> Exemplo da geladeira </TH>
</TR>
<TR>
<TD> 1. Trancar antes de utilizar </TD>
<TD> Deixar aviso </TD>
</TR>
<TR>
<TD> 2. Destrancar quando terminar </TD>
<TD> Retirar o aviso </TD>
</TR>
<TR>
<TD> 3. Esperar se estiver trancado </TD>
<TD> N&atilde;o sai para comprar se houver aviso </TD>
</TR>
</Table>

<p>

<b> Primeira tentativa </b> de resolver o
Problema de Espa&ccedil;o na Geladeira:

<p>

<Table BORDER>
<TR>
<TH> Processos A e B </TH>
</TR>
<TR>
<TD>
<pre>

  if (SemLeite) {
      if (SemAviso) {
          Deixa Aviso;
          Compra Leite;
          Remove Aviso;
      }
  }

</pre>
</TD>
</TR>
</Table>

<p>

Porque essa "solu&ccedil;&atilde;o" n&atilde;o funciona?

<p>

<b> Segunda tentativa </b> de resolver o
Problema de Espa&ccedil;o na Geladeira:
mudar o significado do aviso.
<b> A </b> vai comprar se n&atilde;o houver aviso;
<b> B </b> vai comprar se houver aviso.

<p>

<Table BORDER>
<TR>
<TH> Processo A </TH>
<TH> Processo B </TH>
</TR>
<TR>
<TD>
<pre>

  if (SemAviso) {
      if (SemLeite) {
          Compra Leite;
      }
      Deixa Aviso;
  }

</pre>
</TD>
<TD>
<pre>

  if (Aviso) {
      if (SemLeite) {
          Compra Leite;
      }
      Remove Aviso;
  }

</pre>
</TD>
</TR>
</Table>

<p>

<ul>
<li>
isso funciona? Porque?
<li>
quando estamos tratando com programas paralelos,
n&atilde;o &eacute; recomend&aacute;vel confiar
em intui&ccedil;&atilde;o ou em argumentos informais.
O ideal &eacute; <em> provar </em> que os
algoritmos est&atilde;o corretos
</ul>

Infelizmente, uma <em> verifica&ccedil;&atilde;o formal </em>
da corre&ccedil;&atilde;o &eacute; muito complexa
e tediosa, sendo que raramente &eacute; aplicada a
programas interessantes.
Um argumento informal para convencer da corre&ccedil;&atilde;o
do algoritmo acima pode seguir a seguinte linha:

<ul>
<li>
somente <b> A </b> deixa um aviso, e somente se
j&aacute; n&atilde;o existe um aviso
<li>
somente <b> B </b> remove um aviso, e somente se
houver um aviso
<li>
portanto, ou existe um aviso, ou nenhum
<li>
se houver um aviso, <b> B </b> compra leite
<li>
se n&atilde;o houver aviso, <b> A </b> compra leite
<li>
portanto, apenas uma pessoa (processo) vai comprar leite
</ul>

Agora suponha que <b> B </b> saiu de f&eacute;rias.
<b> A </b> vai comprar leite uma vez e n&atilde;o 
poder&aacute; comprar mais at&eacute; que <b> B </b>
retorne.
Portanto essa "solu&ccedil;&atilde;o" n&atilde;o &eacute;
boa; em particular ela pode levar a "inani&ccedil;&atilde;o"
(<em>starvation</em>).

<p>

<b> Terceira tentativa </b> de resolver o
Problema de Espa&ccedil;o na Geladeira:
utilizar dois avisos diferentes.

<p>

<Table BORDER>
<TR>
<TH> Processo A </TH>
<TH> Processo B </TH>
</TR>
<TR>
<TD>
<pre>

  Deixa AvisoA;
  if (SemAvisoB) {
      if (SemLeite) {
          Compra Leite;
      }
  }
  Remove AvisoA;

</pre>
</TD>
<TD>
<pre>

  Deixa AvisoB;
  if (SemAvisoA) {
      if (SemLeite) {
          Compra Leite;
      }
  }
  Remove AvisoB;

</pre>
</TD>
</TR>
</Table>

<p>

Essa solu&ccedil;&atilde;o funciona?
Ela &eacute; pior ou melhor que as anteriores?
A solu&ccedil;&atilde;o est&aacute; quase correta.
S&oacute; precisamos de uma maneira de decidir
quem vai comprar o leite quando ambos deixarem
avisos.

<p>

<b> Quarta tentativa </b> de resolver o
Problema de Espa&ccedil;o na Geladeira:
em caso de empate, <b> A </b> vai comprar o leite.

<p>

<Table BORDER>
<TR>
<TH> Processo A </TH>
<TH> Processo B </TH>
</TR>
<TR>
<TD>
<pre>

  Deixa AvisoA;
  if (SemAvisoB) {
      if (SemLeite) {
          Compra Leite;
      }
  } else {
      while (AvisoB) {
          EsperaAToa; 
          /* pode sentar */
      }
      if (SemLeite) {
          CompraLeite;
      }
  }
  Remove AvisoA;

</pre>
</TD>
<TD VALIGN=TOP>
<pre>

  Deixa AvisoB;
  if (SemAvisoA) {
      if (SemLeite) {
          Compra Leite;
      }
  }
  Remove AvisoB;

</pre>
</TD>
</TR>
</Table>

<p>

Esta solu&ccedil;&atilde;o funciona,
mas n&atilde;o &eacute; muito elegante.
Ela ainda tem os seguintes problemas:

<ul>
<li>
<b> A </b> pode ter que esperar enquanto 
<b> B </b> est&aacute; na padaria
<li>
enquanto <b> A </b> est&aacute; esperando
ele est&aacute; consumindo recursos: <em> busy-waiting </em>
</ul>

Al&eacute;m disso, seria muito dif&iacute;cil estender
esta solu&ccedil;&atilde;o para muitos processos
com diferentes pontos de sincroniza&ccedil;&atilde;o.

<!==========================================================================>

<h2>
Sincroniza&ccedil;&atilde;o: Requisitos
</h2>

Requisitos para primitivas de exclus&atilde;o m&uacute;tua:

<ul>
<li>
deve permitir apenas um processo dentro de uma
se&ccedil;&atilde;o cr&iacute;tica a cada instante
<li>
se v&aacute;rias requisi&ccedil;&otilde;es
s&atilde;o feitas ao mesmo tempo, deve permitir
que um processo prossiga
<li>
processos podem "entrar de f&eacute;rias" <em> fora </em>
das se&ccedil;&otilde;es cr&iacute;ticas
</ul>

Propriedades desej&aacute;veis para um mecanismo de 
exclus&atilde;o m&uacute;tua:

<ul>
<li>
justo (<em>fair</em>):
se v&aacute;rios processos est&atilde;o esperando,
dar acesso a todos eventualmente
<li>
eficiente: n&atilde;o utilizar quantidades substanciais
de recursos quando estivar esperando.
Em particular, evitar "espera ocupada".
<li>
simples: deve ser f&aacute;cil de utilizar
</ul>

Propriedades desej&aacute;veis dos processos utilizando
os mecanismos:

<ul>
<li>
trancar sempre antes de utilizar dado compartilhado
<li>
destrancar sempre que terminar o uso de dado compartilhado
<li>
n&atilde;o trancar de novo se j&aacute; tiver trancado o recurso
<li>
n&atilde;o destrancar se n&atilde;o foi voc&ecirc;
que trancou (em geral; pode haver exce&ccedil;&otilde;es
para essa regra)
<li>
n&atilde;o ficar muito tempo dentro de 
se&ccedil;&otilde;es cr&iacute;ticas
</ul>

A seguir ser&atilde;o estudados v&aacute;rios mecanismos
alternativos para implementa&ccedil;&atilde;o de 
sincroniza&ccedil;&atilde;o entre processos.
Ser&atilde;o apresentados v&aacute;rios porque
mais de um &eacute; utilizado na pr&aacute;tica,
al&eacute;m de ser &uacute;til entender as diferen&ccedil;as
entre as alternativas.
&Agrave; medida que os mecanismos forem entendidos,
voc&ecirc; ver&aacute; as similaridades entre eles,
e como cada um deles pode ser implementado utilizando
os outros (na verdade, eles s&atilde;o equivalentes).

<!==========================================================================>

<h2>
Sincroniza&ccedil;&atilde;o: Mecanismos
</h2>

Com "espera ocupada" (Tanenbaum 2.2.3):

<ul>
<li>
desabilitando interrup&ccedil;&otilde;es
<li>
com vari&aacute;veis de trancamento
<li>
altern&acirc;ncia estrita
</ul>

<b> Solu&ccedil;&atilde;o de Peterson: </b>

<pre>

#include "prototypes.h"

#define FALSE    0
#define TRUE     1
#define N        2               /* number of processes */

int turn;                        /* whose turn is it? */
int interested[N];               /* all values initially FALSE */

void enter_region (int process)  /* process: who is entering (0 or 1) */
{
  int other;                     /* number of other processes */

  other = 1 - process;           /* the other process */
  interested[process] = TRUE;    /* show that you are interested */
  turn = process;                /* set flag */
  while (turn == process && interested[other] == TRUE) /* null */ ;
}

void leave_region (int process)  /* process: who is leaving (0 or 1) */
{
  interested[process] = FALSE;   /* indicate departure from critical section */
}

</pre>

<b> Instru&ccedil;&atilde;o TEST-AND-SET (TSL): </b>

<pre>

enter_region:
        tsl  reg, flag         ; copy flag to reg and set flag to 1
        cmp  reg, #0           ; was flag zero?
        jnz  enter_region      ; if it was non-zero, lock was set; loop
        ret                    ; return; critical region entered

leave_region:
        mov  flag, #0          ; store zero in flag
        ret                    ; return

</pre>


Sem "espera ocupada" - <b>  sleep </b> e <b> wakeup </b> (Tanenbaum 2.2.4):

<p>

<b> O Problema do Produtor-Consumidor </b>

<p>

Um certo n&uacute;mero de processos "produtores"
est&atilde;o inserindo itens num <b> buffer limitado</b>;
ao mesmo tempo outros processos "consumidores"
est&atilde;o retirando itens do buffer.

<p>

"Solu&ccedil;&atilde;o" com <b>  sleep </b> e <b> wakeup </b>
(n&atilde;o funciona):

<pre>

#include "prototypes.h"

#define FALSE    0
#define TRUE     1
#define N        100              /* number of slots in the buffer */

int count = 0;                    /* number of items in the buffer */

void producer(void)
{
  int item;

   while (TRUE) {                 /* repeat forever */
         produce_item(&item);     /* generate next item */
         if (count == N) sleep(); /* if buffer is full, go to sleep */
         enter_item(item);        /* put item in buffer */
         count = count + 1;       /* increment count of items in buffer */
         if (count == 1) wakeup(consumer); /* was buffer empty? */
   }
}

void consumer(void)
{
  int item;

   while (TRUE) {                 /* repeat forever */
         if (count == 0) sleep(); /* if buffer is empty, go to sleep */
         remove_item(&item);      /* take item out of buffer */
         count = count - 1;       /* decrement count of items in buffer */
         if (count == N-1) wakeup(producer); /* was buffer full */
         consume_item(item);      /* use item */
   }
}

</pre>


<!==========================================================================>

