<head>
<title>Sistemas Operacionais 1996 - Aula 05</title>
</head>

<body>

<h1> 
Comunica&ccedil;&atilde;o Interprocessos
</h1>

<hr>

<!==========================================================================>

<h2>
Contadores de Eventos 
</h2>

Permitem a implementa&ccedil;&atilde;o do
problema do produtor-consumidor sem
utilizar exclus&atilde;o m&uacute;tua.
Um <b> contador de eventos </b> &eacute;
uma vari&aacute;vel especial sobre a qual
tr&ecirc;s tipos de opera&ccedil;&otilde;es s&atilde;o
definidas:

<ul>
<li>
<em> Read (E): </em>
retorna o valor corrente de <em> E</em>.
<li>
<em> Advance (E): </em>
incrementa <em> E</em>, atomicamente.
<li>
<em> Await (E, v): </em>
espera at&eacute; que <em> E</em> tenha
um valor de <em> v</em> ou mais.
</ul>

Contadores de eventos sempre s&atilde;o incializados
com zero e somente s&atilde;o incrementados;
seus valores nunca diminuem.

<p>

<b> O Problema do Produtor-Consumidor </b>
resovido com contadores de eventos (Tanenbaum, Fig. 2-12):

<pre>

#include "prototypes.h"

#define N 100                    /* number of slots in the buffer */

typedef int event_counter;       /* event counters are a special kind of int */

event_counter in = 0;            /* counts items inserted into buffer */
event_counter out = 0;           /* counts items removed from buffer */

void producer(void)
{
  int item, sequence = 0;

  while (TRUE) {
        produce_item(&item);     /* generate next item */
        sequence = sequence + 1; /* count items produced so far */
        await(out, sequence - N);/* wait until there is room in buffer */
        enter_item(item);        /* put item in slot (sequence-1) % N */
        advance(&in);            /* let consumer know about another item */
  }
}

void consumer(void)
{
  int item, sequence = 0;

  while (TRUE) {                 /* repeat forever */
        sequence = sequence + 1; /* number of item to remove from buffer */
        await(in, sequence);     /* wait until required item is present */
        remove_item(&item);      /* take item from buffer */
        advance(&out);           /* let producer know that item is gone */
        consume_item(item);      /* use item */
  }
}

</pre>

<p>

<!==========================================================================>

<hr>

<h2>
Monitores
</h2>

Como j&aacute; foi comentado, sem&aacute;foros
s&atilde;o primitivas para sincroniza&ccedil;&atilde;o
de baixo n&iacute;vel.
No exemplo do produtor/consumidor eles s&atilde;o
utilizados para duas finalidades diferentes:

<ul>
<li>
<b> Exclus&atilde;o M&uacute;tua </b>:
para assegurar que somente um processo est&aacute;
acessando informa&ccedil;&atilde;o compartilhada a
cada instante:

<ul>
<li>
se existirem estruturas de dados diferentes que devem
ser acessadas independentemente, podem existir 
v&aacute;rios sem&aacute;foros, um para cada
estrutura
<li>
sem&aacute;foros para exclus&atilde;o m&uacute;tua
s&atilde;o sempre bin&aacute;rios
</ul>

<li>
<b> Sincroniza&ccedil;&atilde;o </b>:
permite que processos esperem alguma coisa acontecer

<ul>
<li>
se existirem diferentes grupos de processos
esperando coisas diferentes acontecerem,
normalmente existem sem&aacute;foros diferentes
para cada grupo de processos
<li>
estes sem&aacute;foros n&atilde;o s&atilde;o
necessariamente bin&aacute;rios
</ul>

</ul>

Utilizar a mesma abstra&ccedil;&atilde;o para
objetivos diferentes pode levar a c&oacute;digos
confusos e com erros.
Monitores, inventados por C.A.R. Hoare
(e, independentemente, por P. Brinch-Hansen),
oferecem abstra&ccedil;&otilde;es separadas
para exclus&atilde;o m&uacute;tua e para 
sincroniza&ccedil;&atilde;o.
Monitores s&atilde;o uma abstra&ccedil;&atilde;o
de alto n&iacute;vel combinando tr&ecirc;s
caracter&iacute;sticas:

<ul>
<li>
dados compartilhados;
<li>
opera&ccedil;&otilde;es sobre esses dados; e
<li>
sincroniza&ccedil;&atilde;o e escalonamento.
</ul>

Monitores s&atilde;o parecidos com <b> classes </b>,
mas com sincroniza&ccedil;&atilde;o embutida no
mecanismo.
S&atilde;o especialmente &uacute;teis para 
implementar sincroniza&ccedil;&atilde;o
que envolve muitos estados.
As implementa&ccedil;&otilde;es existentes de
monitores fazem parte de algumas linguagens
de programa&ccedil;&atilde;o. 
Exemplos:
Mesa/Cedar (Xerox), Concurrent Euclid.

<p>

Propriedades fundamentais de monitores:

<ul>
<li>
apenas um processo pode executar o c&oacute;digo
do monitor a cada instante de tempo
<li>
exclus&atilde;o m&uacute;tua impl&iacute;cita &eacute;
associada a cada monitor, atrav&eacute;s de um
<em> monitor lock </em>
<li>
o <em> lock </em> deve ser adquirido para
um processo "entrar" no monitor
<li>
ao sai do monitor, o <em> lock </em> &eacute; liberado
</ul>

At&eacute; agora, o que sem&aacute;foros podem fazer
que monitores n&atilde;o podem? 
Esperar. Quais s&atilde;o as op&ccedil;&otilde;es?

<ul>
<li>
espera ocupada
<li>
colocar o processo para dormir dentro do monitor
</ul>

Para resolver este problema, monitores introduziram
uma estrutura especial chamada
<b> vari&aacute;vel de condi&ccedil;&atilde;o,</b>
sobre a qual as seguintes opera&ccedil;&otilde;es
s&atilde;o definidas:

<ul>
<li>
<b> wait(condi&ccedil;&atilde;o): </b>
libera o <em> lock </em> do monitor e coloca o
processo para dormir.
Quando o processo acorda, ele tenta re-adquirir o
<em> lock </em> do monitor imediatamente.
<li>
<b> signal(condi&ccedil;&atilde;o): </b>
acorda um dos processos que est&atilde;o
esperando pela vari&aacute;vel de condi&ccedil;&atilde;o.
O processo que executa o <b> signal </b> sai
do monitor imediatamente.
Se nenhum processo estiver esperando, nada acontece.
Se mais de um estiver esperando, apenas um deles,
determinado pelo escalonador do S.O. (FIFO, por exemplo),
&eacute; acordado.
</ul>

Note bem que existem outras varia&ccedil;&otilde;es
para a sem&acirc;ntica das opera&ccedil;&otilde;es
<b> wait/signal</b>.

<p>

<b> O Problema do Produtor-Consumidor </b>
resovido com monitores (Tanenbaum, Fig. 2-14):

<pre>

monitor ProdutorConsumidor

  condition full, empty;
  int count = 0;
  int item;

  void enter(void);
  {
    if (count == N) { wait(full); }
    enter_item(item);
    count++;
    if (count == 1) { signal(empty); }
  }

  void remove(void);
  {
    if (count == 0) { wait(empty); }
    remove_item(&item);
    count--;
    if (count == N-1) { signal(full); }
  }

end monitor;

void producer(void);
{
  while (TRUE) {
    produce_item(&item);
    ProducerConsumer.enter();
  }
}

void consumer(void);
{
  while (TRUE) {
    ProducerConsumer.remove();
    consume_item(item);
  }
}

</pre>

<p>
Sum&aacute;rio:

<ul>
<li>
monitores foram implementados em algumas poucas
linguagens, utilizando o modelo apresentado acima
com algumas caracter&iacute;sticas adicionais
para aumentar a flexibilidade e efici&ecirc;ncia
<li>
apesar das linguagens atuais (em uso corrente) n&atilde;o apresentarem
monitores, eles introduziram os conceitos de 
<em> lock </em> e 
<em> vari&aacute;veis de condi&ccedil;&atilde;o,</em>
atualmente de uso generalizado na implementa&ccedil;&atilde;o
de sistemas operacionais
<li>
enquanto sem&aacute;foros utilizam um &uacute;nico mecanismo
para implementar exclus&atilde;o m&uacute;tua
e sincroniza&ccedil;&atilde;o, monitores utilizam
dois mecanismos diferentes:
<em> locks </em> e 
<em> vari&aacute;veis de condi&ccedil;&atilde;o.</em>
<li>
monitores for&ccedil;am o programador a isolar 
sincroniza&ccedil;&otilde;es complexas
em m&oacute;dulos especiais
<li>
um mecanismo similar ao <b> wait/signal </b>
&eacute; utilizado pelo UNIX para escalonar
os processos no sistema operacional
</ul>

<p>

<!==========================================================================>


<h2>
Troca de Mensagens
</h2>

At&eacute; agora consideramos os seguintes mecanismos
para comunica&ccedil;&atilde;o/coopera&ccedil;&atilde;o
entre processos:

<ul>
<li>
mem&oacute;ria compartilhada
<li>
sem&aacute;foros
<li>
contadores de eventos
<li>
monitores
(<em>locks </em> e vari&aacute;veis de condi&ccedil;&atilde;o)
</ul>

Agora vamos considerar uma classe mais geral de abstra&ccedil;&otilde;es
para comunica&ccedil;&atilde;o entre processos:

<ul>
<li>
troca de mensagens
<li>
<em> pipes:</em> comuns a todas implementa&ccedil;&otilde;es de UNIX
<li>
chamadas remotas de procedimentos
(<em>Remote Procedure Calls - RPC</em>):
existente em muitos sistemas cliente-servidor
</ul>

Muitos sistemas foram constru&iacute;dos utilizando
troca de mensagens, entre eles Mach e  Microsoft Windows.
Apesar disso, esses mecanismos s&atilde;o razoavelmente
primitivos, no sentido de que s&atilde;o dif&iacute;ceis
de serem utilizados.
Mecanismos de n&iacute;vel mais alto podem ser
constru&iacute;dos utilizando troca de mensagens,
tais como <em> pipes </em> e RPC.
Na realidade esses mecanismos s&atilde;o equivalentes,
ou seja, dado qualquer um deles &eacute; poss&iacute;vel
implementar os outros.

<p>

At&eacute; agora consideramos m&uacute;ltiplos processos
numa &uacute;nica m&aacute;quina.
Uma propriedade &uacute;til de troca de mensagens
&eacute; que o modelo de programa&ccedil;&atilde;o
utilizado se adapta facilmente para comunica&ccedil;&atilde;o
entre m&aacute;quinas diferentes.
Do ponto de vista de implementa&ccedil;&atilde;o,
a principal diferen&ccedil;a &eacute; que as 
opera&ccedil;&otilde;es n&atilde;o s&atilde;o implementadas
sobre mem&oacute;ria compartilhada.

<p>

Todos os exemplos at&eacute; agora usaram alguma forma
de dados compartilhados.
Compartilhamento &eacute; f&aacute;cil se os processos
podem acessar o mesmo espa&ccedil;o de endere&ccedil;amento.
Como prover comunica&ccedil;&atilde;o se os processos
est&atilde;o em m&aacute;quinas diferentes
(espa&ccedil;os de endere&ccedil;amento diferentes)?

<p>

<b> Mensagens </b> permitem 
comunica&ccedil;&atilde;o/sincroniza&ccedil;&atilde;o
sem dados compartilhados.
Ou o processo que envia (<em>sender</em>) ou o
que recebe (<em>receiver</em>) &eacute; dono dos dados
em cada instante, mas nunca ambos ao mesmo tempo.
Algumas defini&ccedil;&otilde;es:

<ul>
<li>
<em>Mensagem:</em> um item de informa&ccedil;&atilde;o
que &eacute; passado de um processo para outro
<li>
<em>Mailbox:</em> local onde as mensagens s&atilde;o
armazenadas entre o momento que s&atilde;o enviadas
e o momento que s&atilde;o recebidas.
</ul>

Opera&ccedil;&otilde;es sobre mensagens:

<ul>
<li>
<b>send(destination, &message):</b> 
copia a mensagem em um mailbox para consumo do destino.
Se o mailbox estiver cheio, espera at&eacute; haver
espa&ccedil;o suficiente.
<li>
<b>receive(source, &message):</b> 
copia e retira a mensagem enviada pelo remetente,
que est&aacute; no mailbox. Se o mailbox estiver vazio,
espera at&eacute; que chegue uma mensagem.
</ul>

Existem dois estilos gerais de comunica&ccedil;&atilde;o:

<ul>
<li>
unidirecional: mensagens s&oacute; fluem em uma dire&ccedil;&atilde;o
(pipes no UNIX, produtor/consumidor)
<li>
bidirecional: mensagens fluem nas duas dire&ccedil;&otilde;es
(RPC, cliente/servidor)
</ul>

<p>

<b> O Problema do Produtor-Consumidor </b>
resovido com troca de mensagens (Tanenbaum, Fig. 2-15):

<pre>

#define N 100                /* number of slots in the buffer */
#define MSIZE 4              /* message size */

typedef int message[MSIZE];

void producer(void)
{
  int item;
  message m;                 /* message buffer */

  while(TRUE) {
    produce_item(&item);     /* generate something to put in buffer */
    receive(consumer, &m);   /* wait for an empty to arrive */
    build_message(&m, item); /* construct a message to send */
    send(consumer, &m);      /* send item to consumer */
  }
}

void consumer(void)
{
  int item, i;
  message m;

  for (i = 0; i < N; i++) send(producer, &m); /* send N empties */
  while(TRUE) {
    receive(producer, &m);   /* get message */
    extract_item(&m, &item); /* take item out of message */
    send(producer, &m);      /* send back empty reply: ACK */ 
    consume_item(item);      /* use item */
  }
}

</pre>

<p>

Porque utilizar mensagens?

<ul>
<li>
adere aos paradigmas das aplica&ccedil;&otilde;es
<li>
os processos que se comunicam podem ser isolados:
<ul>
<li>
menos sujeito a erros, porque evita efeitos colaterais:
nenhum processo pode alterar a mem&oacute;ria de outro
<li>
processos podem desconfiar de outros processos
<li>
permite desenvolvimento independente:
uma vez definida a interface, qualquer um
pode escrever os clientes e os servidores
<li>
processos podem estar executando em m&aacute;quinas
diferentes; mensagens s&atilde;o extremamente &uacute;teis
em redes
</ul>
</ul>

Sistemas que utilizam mensagens podem variar nas
seguintes dimens&otilde;es:

<ul>

<li>
rela&ccedil;&atilde;o entre mailboxes e processos:
<ul>
<li>
um mailbox por processo. Utiliza o nome do processo
no <b>send</b>, nenhum nome no <b>receive</b>.
Simples mas restritivo.
<li>
sem associa&ccedil;&atilde;o estrita entre mailbox e processo.
Utiliza nome do mailbox para designar o recipiente de uma 
mensagem. Permite v&aacute;rios mailboxes por processo,
mas implementa&ccedil;&atilde;o &eacute; mais complicada
(exemplo: UNIX)
</ul>

<li>
quantidade de "buffering":
<ul>
<li>
prover buffers para armazenar as mensagens.
Mais eficiente quando sender e receiver
executam em velocidades diferentes e podem
trabalhar de maneira independente
<li>
sem buffers: utiliza protocolo de 
<em>rendezvous</em>. Simples.
OK para comunica&ccedil;&atilde;o do tipo
call/return.
</ul>

<li>
opera&ccedil;&otilde;es blocantes versus n&atilde;o-blocantes:
<ul>
<li>
receive blocante:
retorna mensagem se mailbox n&atilde;o estiver vazio;
caso contr&aacute;rio espera at&eacute; mensagem chegar
<li>
receive n&atilde;o-blocante:
retorna mensagem se mailbox n&atilde;o estiver vazio;
caso contr&aacute;rio erro
<li>
send blocante:
espera at&eacute; ter espa&ccedil;o no mailbox
<li>
send n&atilde;o-blocante:
erro se mailbox estiver cheio
</ul>

<li>
formas adicionais de espera:
<ul>
<li>
quase todos sistemas permitem v&aacute;rios processos
esperarem no mesmo mailbox ao mesmo tempo.
Mensagens s&atilde;o passadas aos processos em ordem
<li>
alguns sistemas permitem que cada processo espere
por v&aacute;rios mailboxes ao mesmo tempo
(exemplo: UNIX <em>select</em>).
O processo pega a primeira mensagem que chegar em
qualquer mailbox.
</ul>

<li>
restri&ccedil;&otilde;es nas mensagens:
<ul>
<li>
nenhuma: sequ&ecirc;ncia de bytes (ex.: pipes no UNIX)
<li>
mensagens de tamanho fixo (<b>send</b> e <b>receive</b>
s&atilde;o executados sobre mensagens do mesmo tamanho)
<li>
objetos protegidos: (ex.: identificar mensagens com
<em>id</em> do <em>sender</em>)
</ul>

</ul>

As abordagens utilizando mensagens e dados compartilhados
t&ecirc;m o mesmo poder de express&atilde;o, mas resultam
em estilos de programa&ccedil;&atilde;o bem diferentes.
A maioria das pessoas acha o paradigma que utiliza
dados compartilhados mais f&aacute;cil de ser utilizado.

<p>

<hr>

<!==========================================================================>

<h2>
Pipes
</h2>

Exemplo: grep // arquivo.cc | wc

<p>

Modelo de programa&ccedil;&atilde;o: uma <em>pipe</em>
parece muito com um arquivo. Qual &eacute;
a diferen&ccedil;a?

<ul>
<li>
n&atilde;o t&ecirc;m nome (por exemplo, n&atilde;o podem ser abertas)
<li>
unidirecionais
</ul>

Outras propriedades de <em>pipes</em>:

<ul>
<li>
dados nunca s&atilde;o perdidos
<li>
dados nunca s&atilde;o duplicados
<li>
dados s&atilde;o entregues na mesma ordem em que s&atilde;o produzidos
</ul>

Quais dessas propriedades se aplicam a mensagens?

<p>

<hr>

<!==========================================================================>

<h2>
Remote Procedure Call
</h2>

Exemplo:

<pre>

     int nbytes, fileId, count;
     char *buf;

     nbytes = DeviceRead (ServerHandle, fileId, buf, count);

</pre>

Compare com:

<pre>

     nbytes = DeviceRead (fileId, buf, count);

</pre>

Vantagem: apresenta uma abstra&ccedil;&atilde;o familiar:
chamada de procedimentos.

<p>

Apesar de n&atilde;o ser estritamente necess&aacute;rio,
um <em>handle</em> expl&iacute;cito para o servidor na
RPC &eacute; tipicamente utilizado; ele incluiria
informa&ccedil;&otilde;es completas de como se
comunicar com o servidor.

<p>

<hr>

<!==========================================================================>

<h2>
Equival&ecirc;ncia de Primitivas (Tanenbaum 2.2.9)
</h2>

<b>Usando sem&aacute;foros para implementar monitores</b>:
(Tanenbaum, Fig. 2-16)

<ul>
<li>
associar um sem&aacute;foro bin&aacute;rio, <em> mutex,</em>
inicialmente igual a 1, a cada monitor
<li>
associar um sem&aacute;foro bin&aacute;rio,
inicialmente igual a 0, a cada vari&aacute;vel de 
condi&ccedil;&atilde;o
</ul>

<pre>

typedef int semaphore;

semaphore mutex = 1;       /* to control access to the monitor */

void enter_monitor(void)   /* execute upon entry to monitor */
{
  down (mutex);            /* only one at a time inside monitor */
}

void leave_normally(void)  /* leave monitor without signaling */
{
  up (mutex);              /* allow other process to enter */
}

void leave_with_signal(c)  /* signal on c and leave monitor */
semaphore c;               /* which condition variable to signal */
{  
  up (c);                  /* release one process waiting on c */
}

void wait(c)               /* go to sleep on condition variable c */
semaphore c;               /* which condition */
{  
  up (mutex);              /* allow another process to enter monitor */
  down (c);                /* go to sleep on the condition */
}

</pre>

<p>

<b>Usando sem&aacute;foros para implementar troca de mensagens</b>:

<ul>
<li>
associar um sem&aacute;foro, inicialmente igual a 0, a cada
processo; o processo bloqueia nesse sem&aacute;foro quando um
<b> send </b> ou <b> receive </b> tem que esperar para completar
<li>
uma &aacute;rea de buffer compartilhada &eacute;
utilizada para implementar os <em> mailboxes </em>;
cada mailbox contem um array de mensagens
(ver Fig. 2-17)
<li>
o buffer compartilhado &eacute; protegido por um
sem&aacute;foro bin&aacute;rio (mutex)
</ul>

Funcionamento:

<ul>

<li>
<b> receive </b> em um mailbox com pelo menos uma posi&ccedil;&atilde;o 
ocupada:

<ul>
<li>
retira a mensagem, atualiza os contadores e apontadores
(opera&ccedil;&otilde;es protegidas por <b>mutex</b>)
<li>
se houver processo esperando na fila de destino do mailbox
(mailbox estava cheio),
remove o processo da fila e executa um <b>up</b> no seu sem&aacute;foro
<li>
o receptor sai da regi&atildeo cr&iacute;tica, permitindo
o remetente rec&eacute;m-acordado a continuar
</ul>

<li>
<b> receive </b> em um mailbox vazio:

<ul>
<li>
processo que est&aacute; tentando receber &eacute; inserido na
fila de recebimento do mailbox
<li>
executa um <b>up</b> em mutex
<li>
executa um <b>down</b> no seu sem&aacute;foro (vai dormir)
<li>
mais tarde, quando acordado, executa um <b>down</b> em mutex
</ul>

<li>
<b> send </b> em um mailbox com pelo menos uma posi&ccedil;&atilde;o vazia:

<ul>
<li>
insere a mensagem, atualiza os contadores e apontadores
(opera&ccedil;&otilde;es protegidas por <b>mutex</b>)
<li>
se houver processo esperando na fila de recebimento do mailbox
(mailbox estava vazio),
remove o processo da fila e executa um <b>up</b> no seu sem&aacute;foro
<li>
o remetente sai da regi&atildeo cr&iacute;tica, permitindo
o destinat&aacute;rio rec&eacute;m-acordado a continuar
</ul>

<li>
<b> send </b> em um mailbox cheio:

<ul>
<li>
processo que est&aacute; tentando enviar &eacute; inserido na
fila de destino do mailbox
<li>
executa um <b>up</b> em mutex
<li>
executa um <b>down</b> no seu sem&aacute;foro (vai dormir)
<li>
mais tarde, quando acordado, executa um <b>down</b> em mutex
</ul>

</ul>

<p>

<b>Usando monitores para implementar sem&aacute;foros </b>:

<ul>

<li>
s&atilde;o necess&aacute;rios um contador e uma lista
encadeada para cada sem&aacute;foro a ser implementado,
al&eacute;m de uma vari&aacute;vel de condi&ccedil;&atilde;o 
para cada processo

<li>
<b>down</b>:

<ul>
<li>
se o contador para aquele sem&aacute;foro &eacute; maior que zero,
decrementa o contador e sai do monitor
<li>
se o contador para aquele sem&aacute;foro for zero,
coloca o processo na lista para aquele sem&aacute;foro
e executa um <b>wait</b> na vari&aacute;vel de condi&ccedil;&atilde;o
do processo
</ul>

<li>
<b>up</b>:

<ul>
<li>
incrementa o contador do sem&aacute;foro
<li>
se a lista para aquele sem&aacute;foro n&atilde;o
estiver vazia, remove um processo da lista
e executa um <b>signal</b> na vari&aacute;vel de condi&ccedil;&atilde;o
do processo
</ul>

</ul>

<p>

<b>Usando monitores para implementar mensagens</b>:

<p>

&Eacute; feito de maneira similar &agrave;
implementa&ccedil;&atilde;o de mensagens utilizando
sem&aacute;foros, com a mesma estrutura de buffer
compartilhado para implementar os mailboxes.
Neste caso, ao inv&eacute;s de um sem&aacute;foro por
processo, &eacute; utilizada uma vari&aacute;vel de condi&ccedil;&atilde;o
por processo.

<p>

<b>Usando mensagens para implementar sem&aacute;foros </b>:

<p>

Introduzir um novo <b>processo de sincroniza&ccedil;&atilde;o</b>,
que mantem um contador e uma lista encadeada de processos
esperando para cada sem&aacute;foro.
O processo de sincroniza&ccedil;&atilde;o manipula apenas
uma requisi&ccedil;&atilde;o a cada momento.

<p>
Para executar um <b>up</b> ou <b>down</b>,
um processo chama o procedimento adequado
(<em>up</em> ou <em>down</em>), que envia uma mensagem
para o processo de sincroniza&ccedil;&atilde;o
especificando a opera&ccedil;&atilde;o desejada e o
sem&aacute;foro a ser utilizado.
O procedimento, ent&atilde;o, executa um
<b>receive</b> para receber uma resposta do
processo de sincroniza&ccedil;&atilde;o.

<ul>
<li>
<b>up</b>'s sempre completam
<li>
<b>down</b>'s bloqueiam se o valor do contador 
associado ao sem&aacute;foro &eacute; zero
<li>
se a opera&ccedil;&atilde;o puder ser realizada, 
o processo de sincroniza&ccedil;&atilde;o retorna
uma mensagem vazia, desbloqueando o chamador
<li>
caso contr&aacute;rio, o processo de sincroniza&ccedil;&atilde;o
insere o processo chamador na fila e n&atilde;o envia
resposta (bloqueia o processo que executou o <b>down</b>)
<li>
mais tarde, quando um <b>up</b> &eacute; executado,
o processo de sincroniza&ccedil;&atilde;o escolhe para
desbloqueio um dos processos na fila, e envia uma
mensagem
</ul>

<p>

<b>Usando mensagens para implementar monitores</b>:

<p>
J&aacute; foi mostrado como sem&aacute;foros podem
ser utilizados para implementar monitores.
Acabamos de mostrar como implementar sem&aacute;foros
utilizando mensagens.
Combinando os dois algoritmos &eacute; poss&iacute;vel
implementar monitores a partir de mensagens.
<p>

<!==========================================================================>

