<head>
<title>Sistemas Operacionais 1996 - Aula 05</title>
</head>

<body>

<!==========================================================================>

<h1>
Problemas Cl&aacute;ssicos
</h1>

<hr>

<!==========================================================================>

<h2>
O Jantar dos Fil&oacute;sofos
</h2>

<ul>
<li>
proposto por Dijkstra (1965)
<li>
&uacute;til para modelar processos que est&atilde;o 
competindo por acesso exclusivo a um n&uacute;mero
limitado de recursos
<li>
ver Fig. 2-18
</ul>

Uma solu&ccedil;&atilde;o incorreta,
pode causar <em>deadlock</em> (Tanenbaum, Fig. 2-19):

<pre>

#define N 5               /* number of philosophers */

void philosopher(int i)   /* i: which philosopher (0 to N-1) */
{
  while (TRUE) {
     think();             /* philosopher is thinking */
     take_fork(i);        /* take left fork */
     take_fork((i+1)%N);  /* take right fork */
     eat();               /* philosopher is eating */
     put_fork(i);         /* put left fork back on the table */
     put__fork((i+1)%N);  /* put right fork back on the table */
  }
}

</pre>

Uma solu&ccedil;&atilde;o correta, 
utilizando sem&aacute;foros (Tanenbaum, Fig. 2-20):

<pre>

#define N              5  /* number of philosophers */
#define LEFT     (i-1)%N  /* number of i's left neighbor */
#define RIGHT    (i+1)%N  /* number of i's right neighbor */
#define THINKING       0  /* philosopher is thinking */
#define HUNGRY         1  /* philosopher is trying to get fork */
#define EATING         2  /* philosopher is eating */

typedef int semaphore;

int state[N];             /* array to keep track of everyone's state */
semaphore mutex = 1;      /* mutual exclusion for critical regions */
semaphore s[N];           /* one semaphore per philosopher */

void philosopher(int i)   /* i: which philosopher (0 to N-1) */
{
  while (TRUE) {
     think();             /* philosopher is thinking */
     take_forks(i);       /* acquire two forks or block */
     eat();               /* philosopher is eating */
     put_forks(i);        /* put both forks back on the table */
  }
}

void take_forks(int i)    /* i: which philosopher (0 to N-1) */
{
  down(&mutex);           /* enter critical region */
  state[i] = HUNGRY;      /* record fact that philosopher is hungry */
  test(i);                /* try to acquire 2 forks */
  up(&mutex);             /* leave critical region */
  down(&s[i]);            /* block if forks were not acquired */
}

void put_forks(int i)     /* i: which philosopher (0 to N-1) */
{
  down(&mutex);           /* enter critical region */
  state[i] = THINKING;    /* philosopher has finished eating */
  test(LEFT);             /* see if left neighbor can now eat */
  test(RIGHT);            /* see if right neighbor can now eat */
  up(&mutex);             /* leave critical region */
}

void test(int i)          /* i: which philosopher (0 to N-1) */
{
  if (state[i] == HUNGRY && 
      state[LEFT] != EATING && 
      state[RIGHT] != EATING) {
        state[i] = EATING;
        up(&s[i]);
  }
}

</pre>

<p>
Como os sem&aacute;foros <em>s[N]</em> devem ser inicializados?
E o array <em>state</em>?

<p>

<hr>

<!==========================================================================>

<h2>
O Problema dos Leitores e Escritores
</h2>

<ul>
<li>
modela, por exemplo, acessos a um banco de dados
<li>
s&atilde;o permitidos m&uacute;ltiplos leitores
<li>
mas apenas um processo pode escrever de cada vez
</ul>

Uma solu&ccedil;&atilde;o utilizando sem&aacute;foros (Tanenbaum, Fig. 2-21):

<pre>

typedef int semaphore;

semaphore mutex = 1;         /* controls access to rc */
semaphore db = 1;            /* controls access to the data base */
int rc = 0;                  /* no. of processes reading or wanting to read */

void reader(void)   
{
  while (TRUE) {
     down(&mutex);           /* get exclusive access to rc */
     rc++;                   /* one reader more now */
     if (rc == 1) down(&db); /* if this is the first reader ... */
     up(&mutex);             /* release exclusive access to rc */
     read_data_base();       /* access the data */
     down(&mutex);           /* get exclusive access to rc */
     rc--;                   /* one reader fewer now */
     if (rc == 0) up(&db);   /* if this is the last reader ... */
     up(&mutex);             /* release exclusive access to rc */
     use_data();             /* non-critical section */
  }
}

void writer(void)
{
  while (TRUE) {
     prepare_data();         /* non-critical section */
     down(&db);              /* get exclusive access to data base */
     write_data_base();      /* update data base */
     up(&db);                /* release exclusive access to data base */
  }
}

</pre>

<p>
O problema com esta solu&ccedil;&atilde;o &eacute;
que ela d&aacute; prioridade total aos leitores:
quem quiser escrever pode ter que esperar indefinidamente.

<p>

<hr>

<!==========================================================================>

<h2>
O Barbeiro Dorminhoco
</h2>

<ul>
<li>
barbearia tem um barbeiro, uma cadeira de barbeiro
e algumas cadeiras para os fregueses esperarem
<li>
se o movimento estiver fraco (nenhum fregu&ecirc;s),
o barbeiro senta na sua cadeira e dorme
<li>
quando um fregu&ecirc;s chega no sal&atilde;o vazio,
ele tem que acordar o barbeiro
<li>
se outros fregueses chegam enquanto o barbeiro est&aacute;
ocupado, ou eles se assentam na cadeira de espera,
ou v&atilde;o embora, se n&atilde;o houver cadeira vazia
</ul>

Uma solu&ccedil;&atilde;o utilizando sem&aacute;foros (Tanenbaum, Fig. 2-23):

<pre>

#define CHAIRS  5           /* no. of chairs for waiting customers */

typedef int semaphore;

semaphore customers = 0;    /* no. of customers waiting for service */
semaphore barbers = 0;      /* no. of barbers waiting for customers */
semaphore mutex = 1;        /* for mutual exclusion */
int waiting = 0;            /* no. of customers waiting */

void Barber(void)
{
    while (TRUE) {
       down(&customers);    /* go to sleep if no. of costumers is 0 */
       down(&mutex);        /* acquire access to waiting */
       waiting--;           /* one fewer waiting customers */
       up(&barbers);        /* one barber is now ready to cut hair */
       up(&mutex);          /* release access to waiting */
       cut_hair();          /* cut hair (outside critical region) */
    }
}

void Customer(void)
{
    down(&mutex);           /* acquire access to waiting */
    if (waiting < CHAIRS) { /* if there are no free chairs, leave */
       waiting++;           /* one more waiting customer */
       up(&customers);      /* wake up barber if necessary */
       up(&mutex);          /* release access to waiting */
       down(&barbers);      /* go to sleep if no. of barbers is 0 */
       get_haircut();       /* be seated and be serviced */
    } else {
       up(&mutex);          /* shop is full; do not wait */
    }
}

</pre>

<p>

<hr>

<!==========================================================================>

