<head>
<title>Sistemas Operacionais 1996 - Aula 02</title>
</head>

<body>

<h1> 
Sistemas Operacionais - Introdu&ccedil;&atilde;o a Processos
</h1>

<hr>

<h2>
Estrutura de um Sistema Operacional (Tanenbaum 1.4)
</h2>

<ul>
<li>
sistemas monol&iacute;ticos (Figs. 1-8 e 1-9)
<li>
sistemas em camadas (Fig. 1-10)
<li>
m&aacute;quinas virtuais (Fig. 1-11)
<li>
modelo cliente-servidor (Fig. 1-12 e 1-13)
</ul>

<!==========================================================================>

<h2>
Sistemas Operacionais - Conceitos Gerais (Tanenbaum 1.3)
</h2>


<ul>
<li>
processos (Fig. 1.5)
<li>
arquivos (Fig. 1.6)
<li>
chamadas de sistema (``system calls'')
<li>
interpretador de comandos (``shell'')
<ul>
<li>
n&atilde;o &eacute parte do SO
</ul>
</ul>

<!==========================================================================>

<h2>
Processos (Tanenbaum 2.1)
</h2>

Em sistemas operacionais modernos, v&aacute;rios
programas executam concorrentemente.
A abstra&ccedil;&atilde;o ``processo'' ajuda a manter
o sistema organizado.

<p>

<B>
O que &eacute; um Processo?
</B>

<p>

Um processo &eacute; uma abstra&ccedil;&atilde;o utilizada
para representar um programa em execu&ccedil;&atilde;o.
Um processo contem toda informa&ccedil;&atilde;o
necess&aacute;ria para completar uma computa&ccedil;&atilde;o.

<p>

Em alguns sistemas processos s&atilde;o chamados de
tarefas (``tasks'').

<p>

<B>
Um processo &eacute; a mesma coisa que um programa?
</B>

<p>

N&atilde;o. Um processo &eacute;, ao mesmo tempo,
mais e menos que um programa.

<ul>
<li>
Mais: o programa &eacute; apenas parte do estado.
Se duas pessoas est&atilde;o executando o 
programa <b> ls </b>, elas est&atilde;o usando
apenas um programa, mas existem dois processos.
<li>
Menos: programas podem gerar v&aacute;rios processos.
Por exemplo, quando voc&ecirc; executa um
<b> make </b>, s&atilde;o executados um compilador,
um assembler, um carregador, entre outras coisas.
</ul>

<B>
Que informa&ccedil;&otilde;es s&atilde;o necess&aacute;rias
para o sistema gerenciar um processo?
</B>

<ul>
<li>
a sequ&ecirc;ncia de instru&ccedil;&otilde;es que 
comp&otilde;e o programa
<li>
o valores correntes dos dados do programa
<li>
o endere&ccedil;o da instru&ccedil;&atilde;o que
est&aacute; sendo executada
<li>
os arquivos que est&atilde;o abertos
<li>
Exemplo: o Unix utiliza, entre outras, as estruturas
<b> proc </b> e <b> user </b> para manter o
estado de um processo
</ul>

<B>
Porque duas estruturas?
</B>

<p>

A estrutura <b> proc </b> &eacute; utilizada para manter
informa&ccedil;&otilde;es que t&ecirc;m que ficar na
mem&oacute;ria durante toda a vida do processo.
A estrutura <b> user </b> contem o restante do estado
do processo, e pode ser <em> paginada </em> para
o disco.

<p>

<B>
Uniprograma&ccedil;&atilde;o e Multiprograma&ccedil;&atilde;o
</B>

<ul>
<li>
sistemas uniprogramados permitem a execu&ccedil;&atilde;o
de apenas um processo por vez. Exemplo: MS/DOS.
<li>
sistemas multiprogramados (ou multitarefa) permitem
mais de um processo. Exemplos: Unix, Windows NT.
<li>
algumas vezes a distin&ccedil;&atilde;o n&atilde;o 
&eacute; clara. Exemplos: MacOS, Windows.
<li>
escrever um SO uniprogramado &eacute; muito mais
f&aacute;cil; n&atilde;o &eacute; necess&aacute;rio
se preocupar com intera&ccedil;&atilde;o entre
m&uacute;ltiplos processos
<li>
multiprograma&ccedil;&atilde;o permite melhor 
utiliza&ccedil;&atilde;o dos recursos da 
m&aacute;quina, al&eacute;m de permitir
a execu&ccedil;&atilde;o de mais de um programa
ao mesmo tempo
</ul>

<B>
Estruturas de dados para a ger&ecirc;ncia de processos
</B>

<p>

As estruturas <b> user </b> e <b> proc </b> mant&ecirc;m
estado de software independente da m&aacute;quina.
O sistema tem que manter tamb&eacute;m estado de hardware
dependente da m&aacute;quina.
Por exemplo, o Unix utiliza uma estrutura chamada
<em> process control block </em> (<b>pcb</b>).
Ela pode ser encontrada, tipicamente, em
/usr/include/machine/pcb.h. Veja abaixo o arquivo
pcb.h da m&aacute;quina <b> topazio </b>
(rodando SunOS 4.1.2):

<pre>

/*      @(#)pcb.h 1.2 90/08/06 SMI      */

/*
 * Copyright (c) 1985 by Sun Microsystems, Inc.
 */

#ifndef _sun4m_pcb_h
#define _sun4m_pcb_h

/*
 * Sun software process control block
 */

#include <machine/reg.h>

#define MAXWIN  12              /* max number of windows currently supported */

/*
 * The system actually supports one more than the above number.
 * There is always one window reserved for trap handlers that
 * never has to be saved into the pcb struct.
 */

#ifndef LOCORE
#include <machine/vm_hat.h>
struct pcb {
        /* this struct MUST be 1K aligned -- checked for in assym.s */
        struct  l1pt pcb_l1pt;  /* level 1 page table */
        label_t pcb_regs;       /* saved pc and sp */
        int     pcb_psr;        /* processor status word */
        int     pcb_uwm;        /* user window mask */
        struct  rwindow pcb_wbuf[MAXWIN]; /* user window save buffer */
        char    *pcb_spbuf[MAXWIN]; /* sp's for each wbuf */
        int     pcb_wbcnt;      /* number of saved windows in pcb_wbuf */

        int     *pcb_psrp;      /* psr pointer to en/disable coprocessors */
        struct  fpu *pcb_fpctxp;/* pointer to fpu state */
        int     pcb_fpflags;    /* fpu enable flags */
        int     *pcb_cpctxp;    /* pointer to coprocessor state */
        int     pcb_cpflags;    /* coprocessor enable flags */

        int     pcb_flags;      /* various state flags */
        int     pcb_wocnt;      /* window overflow count */
        int     pcb_wucnt;      /* window underflow count */
};

#define pcb_pc          pcb_regs.val[0]
#define pcb_sp          pcb_regs.val[1]

#define aston()         {u.u_pcb.pcb_flags |= AST_SCHED;}

#define astoff()        {u.u_pcb.pcb_flags &= ~AST_SCHED;}

#endif !LOCORE

/* pcb_flags */
#define AST_SCHED       0x80000000      /* force a reschedule */
#define AST_CLR         0x80000000
#define PME_CLR         0
#define AST_NONE        0

/* pcb_flags */
#define CLEAN_WINDOWS   0x1             /* keep user regs clean */
#define FIX_ALIGNMENT   0x2             /* fix unaligned references */

#endif /*!_sun4m_pcb_h*/

</pre>

<p>

<B>
Como v&aacute;rios processos podem compartilhar uma &uacute;nica CPU?
</B>

<p>

O SO tem que assegurar que os processos n&atilde;o 
interfiram uns com os outros. Isto significa:

<ul>
<li>
garantir que todos os processos tenham acesso aos
recursos, como mem&oacute;ria e CPU:
<em> escalonamento </em>
<li>
controlar o estado dos processos, de tal modo
que um processo n&atilde;o possa modificar
arbitrariamente o estado de outro processo:
prote&ccedil;&atilde;o
</ul>

<B>
Estados de um processo
</B>

<p>

A qualquer instante, um processo pode estar em
um dos seguintes estados (Fig. 2-2):

<ul>
<li>
executando: utilizando a CPU de fato
<li>
pronto (``ready''): execut&aacute;vel;
temporariamente parado enquanto outro
processo executa
<li>
bloqueado: n&atilde;o-execut&aacute;vel
at&eacute; que um evento externo aconte&ccedil;a
</ul>

O SO deve gerenciar as <em> transi&ccedil;&otilde;es </em>
dos processos entre esses estados: escalonador
(<b>scheduler</b> ou <b>dispatcher</b>).

<p>

<B>
De onde surgem os processos?
</B>

<p>

De outros processos.
O sistema Unix tem uma primitiva (system call)
<b> fork </b> que cria uma c&oacute;pia
do processo existente. Por exemplo, um <em> shell </em>
Unix cria uma c&oacute;pia dele mesmo cada vez que voc&ecirc;
quer executar um programa.
Uma c&oacute;pia espera enquanto a outra executa o comando.
Como o <b> fork </b> funciona:
<ul>
<li>
garante que o processo que executou o <b> fork </b>
n&atilde;o est&aacute; executando
<li>
garante que todo o estado do processo que executou o <b> fork </b>
foi salvo

<li>
faz uma c&oacute;pia do c&oacute;digo, dados e pilha
<li>
copia o PCB do processo original no processo novo
<li>
torna o novo processo conhecido para o escalonador
</ul>

Problema: os dois processos s&atilde;o id&ecirc;nticos.
Como fazer para executar um programa diferente?

<ul>
<li>
<b> exec </b>: troca a imagem do programa corrente
com o c&oacute;digo e dados do novo programa
</ul>

Um probleminha adicional: como &eacute; que tudo
isso come&ccedil;a? 
No in&iacute;cio n&atilde;o existe nenhum processo,
portanto n&atilde;o &eacute; poss&iacute;vel executar
um <b> fork </b>.

<!==========================================================================>

<h2>
Threads e Espa&ccedil;os de Endere&ccedil;amento
</h2>

Computa&ccedil;&otilde;es m&uacute;ltiplas compartilham
um processador &uacute;nico atrav&eacute;s de processos.
A abstra&ccedil;&atilde;o ``processo'' tem dois
objetivos gerais:

<ol>
<li>
permitir ao SO organizar e controlar m&uacute;ltiplas
computa&ccedil;&otilde;es
<li>
prevenir processos de interferir uns com os outros
</ol>

Um processo pode ser imaginado como tendo dois
componentes, cada um correspondendo a uma
das necessidades acima:

<ol>
<li>
Thread
<li>
Espa&ccedil;o de Endere&ccedil;amento
</ol>

Ou seja, o componente Espa&ccedil;o de Endere&ccedil;amento
&eacute; utilizado para implementar isolamento, e 
o componente Thread  &eacute; utilizado para implementar
controle.
O componente Espa&ccedil;o de Endere&ccedil;amento inclui:

<ul>
<li>
a mem&oacute;ria utilizada pelo programa;
isto inclui o c&oacute;digo e grande parte dos dados
<li>
arquivos abertos
</ul>

O componente Thread inclui:

<ul>
<li>
contador de programa
<li>
registradores
<li>
dados alocados na pilha (na maioria vari&aacute;veis locais)
<li>
endere&ccedil;os de retorno dos procedimentos ativos
</ul>

Se olharmos o <b> pcb </b>:

<ul>
<li>
o Espa&ccedil;o de Endere&ccedil;amento &eacute;
representado pela tabela de p&aacute;ginas (<b>pcb_l1pt</b>)
<li>
o estado da Thread &eacute; representado pelo resto
</ul>

A maioria das estruturas <b>proc</b> e <b>user</b>
s&atilde;o consideradas parte do
Espa&ccedil;o de Endere&ccedil;amento.

<p>

Um processo "normal" (por exemplo <b>ls</b> ou
<b>cat</b> em Unix) consiste de uma Thread e de
um Espa&ccedil;o de Endere&ccedil;amento.

<p>

Threads m&uacute;ltiplas em um &uacute;nico
Espa&ccedil;o de Endere&ccedil;amento
podem ser utilizadas para implementar 
concorr&ecirc;ncia dentro de um processo.
Imagine que voc&ecirc; tem um processo que
serve requisi&ccedil;&otilde;es de I/O
(por exemplo, um servidor de arquivos ou
um sistema de bancos de dados):

<ul>
<li>
quando uma thread solicita uma leitura,
ela fica bloqueada at&eacute; que os dados
fiquem dispon&iacute;veis
<li>
um &uacute;nico processo com uma &uacute;nica thread
n&atilde;o pode executar nada de &uacute;til enquanto
o disco est&aacute; sendo acessado
<li>
com threads m&uacute;ltiplas, uma thread pode continuar
a executar enquanto a outra espera pelo I/O
</ul>

Threads compartilham:

<ul>
<li>
mem&oacute;ria
<li>
arquivos abertos
<li>
vari&aacute;veis globais
</ul>

Threads mant&ecirc;m c&oacute;pias privadas de:

<ul>
<li>
pilhas
<li>
contador de programa
<li>
estado do processador
</ul>

Threads s&atilde;o tamb&eacute;m chamadas de 
<em> processos leves </em>
(<em>lightweight processes</em>), porque:

<ul>
<li>
cria&ccedil;&atilde;o de threads &eacute; 
mais barato que cria&ccedil;&atilde;o de processos
<li>
threads t&ecirc;m menos estado que processos,
podendo ser gerenciadas de maneira mais eficiente
<li>
comunica&ccedil;&atilde;o entre threads &eacute;
mais r&aacute;pida/f&aacute;cil do que 
comunica&ccedil;&atilde;o entre processos
</ul>

Diferentes sistemas operacionais apresentam
diferentes modelos:

<ul>
<li>
um espa&ccedil;o de endere&ccedil;amento, uma thread
<li>
um espa&ccedil;o de endere&ccedil;amento, m&uacute;ltiplas threads
<li>
m&uacute;ltiplos espa&ccedil;os de endere&ccedil;amento,
uma thread por espa&ccedil;o de endere&ccedil;amento
<li>
m&uacute;ltiplos espa&ccedil;os de endere&ccedil;amento,
m&uacute;ltiplas threads por espa&ccedil;o de endere&ccedil;amento
</ul>

Qual modelo seu sistema operacional utiliza?
<!==========================================================================>

