<head>
<title>Sistemas Operacionais 1996 - Aula 09</title>
</head>

<body>

<!==========================================================================>

<h1>
Mem&oacute;ria: Utiliza&ccedil;&atilde;o e Aloca&ccedil;&atilde;o
</h1>

<hr>

<!==========================================================================>

<p>

<h2>
Utiliza&ccedil;&atilde;o da Mem&oacute;ria
</h2>

Informa&ccedil;&atilde;o armazenada na mem&oacute;ria pode
ser classificada de v&aacute;rias maneiras.
Alguns exemplos:

<p>

<b>
Papel em linguagens de programa&ccedil;&atilde;o:
</b>

<ul>
<li>
instru&ccedil;&otilde;es: especificam as opera&ccedil;&otilde;es
a serem executadas e seus operandos
<li>
vari&aacute;veis: a informa&ccedil;&atilde;o que muda &agrave;
medida que o programa executa: locais, globais,
par&acirc;metros de procedimentos, mem&oacute;ria din&acirc;mica
<li>
constantes: informa&ccedil;&atilde;o que &eacute;
utilizada como operando, mas nunca muda;
exemplo: pi, printf("esse string e constante\n");
</ul>

<b>
Prote&ccedil;&atilde;o:
</b>

<ul>
<li>
modific&aacute;vel
<li>
leitura-apenas ("read-only")
<li>
execut&aacute;vel
</ul>

<b>
Inicializa&ccedil;&atilde;o
</b>

<p>

<b>
Endere&ccedil;o ou Dado
</b>

<p>

<b>
Tempo de Liga&ccedil;&atilde;o ("Binding Time"):
</b>

<ul>
<li>
em que momento o espa&ccedil;o &eacute; alocado?
<li>
em que momento deve-se decidir sobre o que vai aonde?
<li>
existem duas alternativas:
<ul>
<li>
aloca&ccedil;&atilde;o <b>est&aacute;tica</b>:
decis&otilde;es s&atilde;o tomadas uma vez, e para
sempre, antes do programa come&ccedil;ar a executar.
Pode acontecer em 
<em>tempo de compila&ccedil;&atilde;o</em>,
<em>tempo de liga&ccedil;&atilde;o</em> ("link time") ou
<em>tempo de carga</em> ("load time")
<li>aloca&ccedil;&atilde;o <b>din&acirc;mica</b>:
decis&otilde;es n&atilde;o podem ser tomadas antes
do <em>tempo de execu&ccedil;&atilde;o</em> ("run time"),
e podem mudar
</ul>

</ul>

Note que as classifica&ccedil;&otilde;es podem se sobrepor:
por exemplo, vari&aacute;veis podem ser est&aacute;ticas ou
din&acirc;micas; c&oacute;digo pode ser "read-only"
ou "read-write".

<p>

Quando um processo est&aacute; executando, qual 
&eacute; o aspecto da mem&oacute;ria?
<ul>
<li>
mem&oacute;ria &eacute; dividida em &aacute;reas
chamadas <em>segmentos</em>
<li>
no UNIX, cada processo tem tr&ecirc;s segmentos:
<ul>
<li>
c&oacute;digo (chamdado "text" na g&iacute;ria UNIX)
<li>
dados
<li>
pilha
</ul>
</ul>

Quest&otilde;es:
<ul>
<li>
como fazer se existe mais de um processo?
<li>
aonde vai ficar o sistema operacional?
</ul>

<b>
Segmentos
</b>

<p>
Porque distinguir entre segmentos diferentes?
<ul>
<li>
podemos querer alguns "read-only", outros "read-write"
<li>
alguns s&atilde;o conhecidos em tempo de compila&ccedil;&atilde;o,
outros crescem ou diminuem &agrave; medida que o programa
executa (dados est&aacute;ticos vs. pilha)
</ul>

<b>
Alocando mem&oacute;ria aos segmentos
</b>

<p>
Divis&atilde;o de responsabilidades entre v&aacute;rias
partes do sistema:

<ul>
<li>
<em>Compilador</em>:
gera um <em>arquivo-objeto</em> para cada arquivo-fonte
<ul>
<li>
cria os segmentos de c&oacute;digo e dados para o arquivo-fonte
<li>
informa&ccedil;&atilde;o nesse arquivo-objeto est&aacute;
incompleta (porque?)
</ul>

<li>
<em>Ligador</em> ("linker"):
combina todos arquivos-objeto para um programa em um &uacute;nico
arquivo-objeto, que est&aacute; completo e auto-suficiente
(i.e., todas refer&ecirc;ncias resolvidas)

<li>
<em>Carregador</em> ("loader"):
sistema operacional carrega os arquivos-objeto na mem&oacute;ria,
permitindo que v&aacute;rios processos diferentes
compartilhem a mem&oacute;ria ao mesmo tempo.
Deve prover recursos para que os processos obtenham
mais mem&oacute;ria depois que eles tiverem come&ccedil;ado
a executar

<li>
<em>Tempo de Execu&ccedil;&atilde;o</em> ("run-time"):
o ambiente de tempo de execu&ccedil;&atilde;o funciona
junto com o sistema operacional para prover rotinas de
aloca&ccedil;&atilde;o din&acirc;mica de mem&oacute;ria,
tais como <em>malloc</em> e <em>free</em> em C

</ul>

Ligadores (por exemplo, <em>ld</em> no UNIX) juntam
v&aacute;rias partes separadas de um programa e reorganizam
a aloca&ccedil;&atilde;o de mem&oacute;ria.
Em geral s&atilde;o considerados parte do sistema operacional.
No UNIX, <em>ld</em> &eacute; um programa regular
(usualmente invocado pelo compilador, por exemplo, <em>cc</em>).

<hr>

<!==========================================================================>

<p>

<h2>
Ligadores (Linkers)
</h2>

<b>
Fun&ccedil;&otilde;es de um ligador
</b>

<ul>
<li>
coletar todos os arquivos e bibliotecas de um programa
<li>
descobrir um nova organiza&ccedil;&atilde;o de mem&oacute;ria
de tal modo que todas as partes fiquem organizadas juntas
(combinar segmentos similares: agrupar segmentos de c&oacute;digo;
agrupar segmentos de dados)
<li>
ajusta os endere&ccedil;os, de tal modo que o programa
possa executar sob a nova organiza&ccedil;&atilde;o de mem&oacute;ria
</ul>

<b>
Liga&ccedil;&atilde;o: desafios
</b>

<ul>
<li>
quando o compilador monta um &uacute;nico arquivo-objeto
existem v&aacute;rios s&iacute;mbolos que ele n&atilde;o conhece
(ex.: <em>printf</em>, <em>sin</em>)
<ul>
<li>
se o compilador n&atilde;o pode identificar o s&iacute;mbolo,
assinalar um 0 a ele
<li>
deixa a informa&ccedil;&atilde;o para o ligador
<li>
essa informa&ccedil;&atilde;o &eacute; chamada de
<em>cross-reference</em> (refer&ecirc;ncia cruzada)
<li>
refer&ecirc;ncias cruzadas descrevem s&iacute;mbolos
em outros arquivos
<li>
uma refer&ecirc;ncia cruzada tem duas partes:
<ul>
<li>
<em>defini&ccedil;&atilde;o global</em>:
um arquivo fornece a vari&aacute;vel ou procedimento
que pode ser utilizada por outros arquivos
<li>
<em>refer&ecirc;ncia externa</em>:
um arquivo acessa uma vari&aacute;vel ou procedimento
que n&atilde;o est&aacute; presente no arquivo
</ul>

</ul>


<li>
compilador n&atilde;o sabe aonde os objetos que ele
est&aacute; compilando ser&atilde;o colocados na mem&oacute;ria
<ul>
<li>
assume que tudo come&ccedil;a no endere&ccedil;o 0
e deixa para o ligador consertar
<li>
informa&ccedil;&atilde;o inclu&iacute;da no arquivo-objeto
diz ao ligador o que deve ser re-arranjado/consertado
<li>
essa informa&ccedil;&atilde;o &eacute; chamada de
<em>informa&ccedil;&atilde;o de reloca&ccedil;&atilde;o</em>;
ela descreve os s&iacute;mbolos no segmento <em>local</em>
</ul>

</ul>

<b>
Conte&uacute;do dos arquivos-objeto
</b>

<ul>
<li>
Cabe&ccedil;alho do arquivo:
para cada segmento, o arquivo-objeto contem o tamanho
do segmento e seu endere&ccedil;o inicial quando
carregado na mem&oacute;ria

<li>
M&uacute;ltiplos segmentos, para c&oacute;digo, 
dados inicializados, tabelas de importa&ccedil;&atilde;o etc.

<li>
Tabela de s&iacute;mbolos:
uma tabela com uma entrada para cada s&iacute;mbolo
(fun&ccedil;&atilde;o, vari&aacute;vel etc.)
definido no m&oacute;dulo, com informa&ccedil;&atilde;o
sobre a defini&ccedil;&atilde;o do objeto de mem&oacute;ria
correspondente (endere&ccedil;os, tipo, tamanho etc.).
Essa informa&ccedil;&atilde;o &eacute; utilizada para
traduzir do nome para o objeto propriamente dito

<li>
Informa&ccedil;&atilde;o de reloca&ccedil;&atilde;o:
informa&ccedil;&atilde;o sobre 
refer&ecirc;ncias cruzadas que o ligador tem que consertar:
<ul>
<li>
onde est&atilde;o as refer&ecirc;ncias cruzadas?
<li>
a quais s&iacute;mbolos elas se referem?
<li>
como o endere&ccedil;o deve ser arrumado?
<ol>
<li>
armazena o endere&ccedil;o do s&iacute;mbolo
<li>
soma o endere&ccedil;o do s&iacute;mbolo
<li>
soma a quantia que o s&iacute;mbolo se moveu
</ol>
<li>
s&iacute;mbolos externos: objetos que n&atilde;o
s&atilde;o parte do m&oacute;dulo corrente
<li>
s&iacute;mbolos internos: o compilador atribuiu um
endere&ccedil;o, mas este endere&ccedil;o pode
mudar se o ligador mover algum objeto
</ul>

<li>
Informa&ccedil;&atilde;o de depura&ccedil;&atilde;o

<li>
Para mais informa&ccedil;&atilde;o sobre esse assunto,
ver livros sobre os formatos COFF ou PE, ou
ler a "man page" do UNIX que descreve o formato
do arquivo <em>a.out</em>

</ul>

<b>
Ligador: funcionamento
</b>

<p>
Tem que dar v&aacute;rios passos; n&atilde;o
&eacute; poss&iacute;vel terminar sem ter lido
todos arquivos.

<ul>
<li>
Passo 1
<ul>
<li>
ler toda informa&ccedil;&atilde;o da tabela de s&iacute;mbolos
<li>
decidir como a mem&oacute;ria ser&aacute; rearranjada
<li>
ler toda informa&ccedil;&atilde;o de reloca&ccedil;&atilde;o
<li>
descobrir tudo que for necess&aacute;rio nas bibliotecas
</ul>

<li>
Passo 2
<ul>
<li>
ler os segmentos e informa&ccedil;&atilde;o de reloca&ccedil;&atilde;o
<li>
modificar os endere&ccedil;os
<li>
escrever o novo m&oacute;dulo com s&iacute;mbolos,
segmentos, e reloca&ccedil;&atilde;o
</ul>

</ul>

A tabela de s&iacute;mbolos armazena informa&ccedil;&atilde;o sobre
os s&iacute;mbolos e, em alguns casos, sobre os segmentos:

<ul>
<li>
segmentos: nome, tamanho, endere&ccedil;o
<li>
s&iacute;mbolos: nome, segmento que contem o s&iacute;mbolo,
deslocamento dentro do segmento
</ul>

Tipicamente, algum algoritmo de "hashing" &eacute;
utilizado para associar os nomes &agrave;s 
informa&ccedil;&otilde;es.

<hr>

<!==========================================================================>

<p>

<h2>
Ligador: Exemplo
</h2>

<b>
Programa Principal
</b>

<pre>

 main ()
 {
    static float x, val;
    extern float sin();
    extern printf(), scanf();

    printf("Type number: ");
    scanf("%f", &x);
    val = sin(x);
    printf("Sine is %f\n", val);
 }

</pre>

<b>
M&oacute;dulo matem&aacute;tico
</b>

<pre>

 float sin(x)
 float x;
 {
    static float tmp1, tmp2, result;
    // calcula fun&ccedil;&atilde;o seno aqui
    return (result);
 }

</pre>


<b>
Biblioteca C
</b>

<pre>

 printf (...) { ... }

 scanf  (...) { ... }

</pre>

<b>
Sum&aacute;rio
</b>

<p>

Passo 1:

<ul>
<li>
assinala endere&ccedil;os dos segmentos de entrada
para poder completar os segmentos de sa&iacute;da
<li>
nenhuma informa&ccedil;&atilde;o precisa ser carregada
na mem&oacute;ria nesse ponto, exceto informa&ccedil;&otilde;es
sobre os s&iacute;mbolos
</ul>

Passo 2:

<ul>
<li>
l&ecirc; dados e informa&ccedil;&atilde;o de
reloca&ccedil;&atilde;o dos arquivos
<li>
corrige os endere&ccedil;os
<li>
escreve o novo arquivo-objeto
</ul>

Que tipo de mudan&ccedil;as devem ser feitas em 
tempo de liga&ccedil;&atilde;o?

<ul>
<li>
move r1, @X (X &eacute; externo)
<li>
call sin (sin &eacute; externo)
<li>
jmp @X (X no mesmo segmento original)
<li>
br x (X no mesmo segmento original, deslocamento curto)
</ul>

<hr>

<!==========================================================================>

<p>

<h2>
Monoprograma&ccedil;&atilde;o
</h2>

At&eacute; agora vimos como a mem&oacute;ria
&eacute; vista do ponto de vista do programa do
usu&aacute;rio. 
A partir de agora vamos ver como o S.O. v&ecirc;
(e gerencia) a mem&oacute;ria.

<p>

Todos os processos s&atilde;o ligados assumindo
que o endere&ccedil;o inicial &eacute; 0.
Como carreg&aacute;-los na mem&oacute;ria?

A solu&ccedil;&atilde;o mais simples &eacute;
utilizar monoprograma&ccedil;&atilde;o:

<ul>
<li>
somente um processo por vez na mem&oacute;ria
<li>
colocar o S.O. na parte mais alta da mem&oacute;ria,
num endere&ccedil;o fixo, conhecido
<li>
colocar o processo no endere&ccedil;o 0, do mesmo
modo como ele &eacute; ligado
<li>
colocar a pilha logo abaixo do S.O.
<li>
como n&atilde;o existem outros processos na 
mem&oacute;ria, n&atilde;o &eacute; 
poss&iacute;vel corromp&ecirc;-los
(mas &eacute; poss&iacute;vel corromper o S.O.;
tudo vai parar de funcionar: <em>reboot</em>)
<li>
os primeiros "monitores" <em>batch</em> utilizaram esse
sistema; alguns PCs ainda usam algo parecido
<li>
esse esquema n&atilde;o &eacute; aceit&aacute;vel
para sistemas "time-sharing"
<li>
ali&aacute;s, tamb&eacute;m n&atilde;o &eacute;
bom para PCs
</ul>

Ent&atilde;o, quais s&atilde;o os objetivos para
um bom gerenciamente da mem&oacute;ria pelo S.O.?

<ul>
<li>
permitir que v&aacute;rios processos co-existam na mem&oacute;ria
<li>
nenhum processo deve ter conhecimento deste compartilhamento
(i.e., o mecanismo deve ser transparente)
<li>
todos processos devem executar, independente do n&uacute;mero
e posicionamento dos outros processos na mem&oacute;ria
<li>
processos devem ser impedidos de corromper outros processos
(prote&ccedil;&atilde;o)
<li>
o compartilhamento da mem&oacute;ria deve ser eficiente;
nem a performance da CPU, nem a da mem&oacute;ria devem
degradar em fun&ccedil;&atilde;o do compartilhamento
(afinal de contas, o objetivo de compartilhar &eacute;
aumentar a efici&ecirc;ncia)
</ul>

<hr>

<!==========================================================================>

<p>

<h2>
Multiprograma&ccedil;&atilde;o com Parti&ccedil;&otilde;es Fixas
</h2>

<p>
Ou: Reloca&ccedil;&atilde;o Est&aacute;tica

<ul>
<li>
como antes, colocar o S.O. numa posi&ccedil;&atilde;o
fixa da mem&oacute;ria (por exemplo, na parte mais alta)
<li>
do mesmo modo que na compila&ccedil;&atilde;o, temos
o problema de n&atilde;o saber aonde um processo
vai residir na mem&oacute;ria (se tivermos mais de
um processo na mem&oacute;ria ao mesmo tempo)
<li>
do mesmo modo que na compila&ccedil;&atilde;o,
deixamos para "consertar" os endere&ccedil;os mais tarde
<li>
quando um processo &eacute; carregado,
"relocar" ele na mem&oacute;ria, de maneira
similar ao funcionamento do ligador;
todos os endere&ccedil;os ficam relativos a
um ponto fixo na mem&oacute;ria
</ul>

Quais s&atilde;o os problemas?

<ul>
<li>
nenhuma prote&ccedil;&atilde;o (eu posso corromper sua mem&oacute;ria)
<li>
qualquer um pode corromper o S.O. 
(e isso vai afetar outros processos)
<li>
processos podem ser movidos depois que come&ccedil;aram
a executar?
<li>
processos podem mudar de tamanho?
<li>
exemplo: IBM/360 OS/MFT
</ul>

<!==========================================================================>


