<head>
<title>Sistemas Operacionais 1996 - Aulas 07 e 08</title>
</head>

<body>

<!==========================================================================>

<h1>
Escalonamento de Processos
</h1>

<hr>

<!==========================================================================>

<p>
(Tanenbaum 2.4)

<p>

<b>
Estados de um Processo
</b>

<ul>
<li>
running
<li>
blocked
<li>
ready
<li>
rever Fig. 2-2
</ul>

<b>
Recursos
</b>

<ul>
<li>
entidades ("objetos") sobre as quais processos operam
<li>
ex.: tempo de CPU, espa&ccedil;o em disco
<li>
podem ser:
<ul>
<li>
preempt&aacute;veis
<li>
n&atilde;o-preempt&aacute;veis
</ul>
<li>
decis&otilde;es sobre recursos
<ul>
<li>
aloca&ccedil;&atilde;o
<li>
escalonamento
</ul>
</ul>

<b>
Escalonamento: aspectos de projeto
</b>

<ul>
<li>
escalonador e algoritmo de escalonamento
<li>
crit&eacute;rios a satisfazer:
<ul>
<li>
"fairness" (justi&ccedil;a)
<li>
efici&ecirc;ncia
<li>
minimizar tempo de resposta
<li>
minimizar "turnaround"
<li>
maximizar "throughput"
</ul>
<li>
escalonamento preemptivo vs. n&atilde;o-preemptivo
</ul>

<b>
FIFO (First-In-First-Out)
</b>

<ul>
<li>
processos executam at&eacute; o fim
<li>
resulta (geralmente) em uniprograma&ccedil;&atilde;o
<li>
alto grau de justi&ccedil;a
<li>
problemas?
</ul>

<b>
Round-Robin
</b>

<ul>
<li>
cada processo tem um <em> quantum </em> de tempo para executar
<li>
fatores a considerar
<ul>
<li>
tamanho do <em> quantum </em>
<li>
troca de contexto
</ul>
<li>
problemas?
</ul>

<b>
Escalonamento com Prioridade
</b>

<ul>
<li>
atribui&ccedil;&atilde;o de prioridades diferentes a cada processo
<li>
processo mais priorit&aacute;rio roda primeiro
<li>
atribui&ccedil;&atilde;o de prioridades pode ser:
<ul>
<li>
est&aacute;tica
<li>
din&acirc;mica
</ul>
<li>
problemas?
</ul>

<b>
Filas M&uacute;ltiplas
</b>

<ul>
<li>
classses de prioridades 
<li>
objetivos:
<ul>
<li>
aumentar a efici&ecirc;ncia
<li>
tratar diferentes tipos de processos, cada qual com suas necessidades
</ul>
<li>
problemas?
</ul>

<b>
Shortest Job First
</b>

<ul>
<li>
projetado para sistemas nos quais tempos
de execu&ccedil;&atilde;o s&atilde;o conhecidos <em>a priori</em>
<li>
minimiza tempo de resposta m&eacute;dio
<li>
problemas?
</ul>

<b>
Escalonamento Garantido
</b>

<ul>
<li>
procura garantir um n&iacute;vel de performance
m&iacute;nimo para o usu&aacute;rio
<li>
objetivo: dar a todos processos a mesma
quantidade de CPU
<li>
se existem <em>N</em> processos, cada um
recebe <em>1/N</em> de tempo da CPU
<li>
tem que manter hist&oacute;ria de utiliza&ccedil;&atilde;o
da CPU para cada processo
<li>
se um processo utilizou menos que sua parte, sua
prioridade &eacute; aumentada
<li>
se um processo utilizou mais que sua parte, sua
prioridade &eacute; diminuida
<li>
d&aacute; uma prioridade maior aos processos que
utilizaram menos CPU num passado recente
<li>
"jobs" altamente interativos (ex.: editor de textos)
utilizam pouca CPU, portanto ganham alta prioridade
<li>
"jobs CPU-bound" (ex.: simula&ccedil;&otilde;es
cient&iacute;ficas) ficam com prioridade baixa
<li>
formas alternativas de escalonamento garantido s&atilde;o
necess&aacute;rias em sistemas de tempo real
<li>
problemas?
</ul>

<b>
Escalonamento em Dois N&iacute;veis
</b>

<ul>
<li>
utilizado quando &eacute; necess&aacute;rio 
mover processos (execut&aacute;veis) entre
mem&oacute;ria e disco
<li>
n&iacute;vel mais alto decide quais processos ficam na
mem&oacute;ria e quais v&atilde;o para o disco
<li>
n&iacute;vel mais baixo decide qual processo, dentre os
que est&atilde;o na mem&oacute;ria, vai utilizar a CPU
<li>
problemas?
</ul>

<b>
Pol&iacute;tica vs. Mecanismo
</b>

<ul>
<li>
necessidade de separar os mecanismos de escalonamento
das pol&iacute;ticas de escalonamento
<li>
algoritmo de escalonamento &eacute;
parametrizado de alguma maneira
<li>
processos dos usu&aacute;rios definem os
par&acirc;metros
</ul>

<b>
Sum&aacute;rio
</b>

<ul>
<li>
algoritmos de escalonamento t&ecirc;m
um grande impacto no "overhead" do sistema,
na sua efici&ecirc;ncia e no tempo de
resposta de processos interativos
<li>
os melhores esquemas s&atilde;o adaptativos;
para ser &oacute;timo &eacute; necess&aacute;rio
prever o futuro
<li>
os melhores algoritmos de escalonamento tendem
a dar maior prioridade aos processos que utilizam menos recursos
</ul>



<hr>

<!==========================================================================>


