.sc_loading {
    display: block;
    width: 30px;
    height: 20px;
    background: transparent url("images/ajax-loading.gif") no-repeat 10px 6px;
}

#sc_result table thead {
    font-weight:bold;
}

#sc_result table td {
    font-size:12px;
    padding:4px 10px;
    border-bottom:solid 1px #EAEAEA;
}

#sc_result table td.ok {
    color:green;
}

#sc_result table td.fail {
    color:red;
}

#sc_result table.scores {
    font-size:11px;
    display:none;
}

#sc_result table.scores td {
    padding:2px 5px;
    border:0px;
}

#categories {
    display:none;
}

.category_classify {
    padding:3px;
}
