<script type="text/javascript">
    $(document).ready(function() {
      var deck = new $.scrolldeck({
        buttons: '.nav-button',
        slides: '.slide',
        duration: 300,
        easing: 'easeInOutExpo',
    	offset: 0
      });
    });
</script>
</body>
</html>
